<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ThinkAgain for real-time</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
    .wrapper {
      position: relative;
      width: 640px;
      height: 480px;
      margin: 50px auto 0 auto;
      padding-bottom: 30px;
      border: 1px solid #ccc;
      border-radius: 3px;
      clear: both;
    }
    .box {
      float: left;
      width: 50%;
      height: 50%;
      box-sizing: border-box;
    }
    /* .container {
      width: 450px;
      margin: 0 auto;
      text-align: center;
    } */
    .gauge {
      width: 320px;
      height: 240px;
    }
    button {
      margin: 30px 5px 0 2px;
      padding: 16px 40px;
      border-radius: 5px;
      font-size: 18px;
      border: none;
      background: #34aadc;
      color: white;
      cursor: pointer;
    }
    </style>

  </head>
  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">ThinkAgain</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>

    <div class="container">
    <div class="jumbotron">
      <h1>Welcome to the WebSocket demo</h1>
      <p>Github <a href='https://github.com/cognitiverobot/' target='_blank'>here.</a></p>
    </div>
    </div>



    <div class="container" id="content">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-content">
              <a class="card-title" href="">Current Temperature</a>
              <p>Location </p>
              <hr>
              <p id="tempReading"></p>
              <div id="sine-graph" style="width: 400px; height: 400px;">
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-content">
              <a class="card-title" href="">Current Humidity</a>
              <p>Location </p>
              <hr>
              <p id="humidityReading"></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-content">
              <a class="card-title" href="">Current Humidity</a>
              <p>Location </p>
              <hr>
              <div id="g1" class="gauge"></div>
            </div>
          </div>

        </div>


    </div>
  </div>



    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript - Need for sse and materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <script src="static/raphael-2.1.4.min.js"></script>
    <script src="static/justgage.js"></script>

    <script type="text/javascript">
      var g1;
      var data;
      var obj;
      //var my_plot;
      var my_plot = {
           x: [0,0,0,0,0,0,0],
           y: [0,0,0,0,0,0,0],
           type: 'scatter',
       };
       Plotly.newPlot('sine-graph', [my_plot]);
      document.addEventListener("DOMContentLoaded", function(event) {
        // console.log("just to be updated")
          g1 = new JustGage({
          id: 'g1',
          value: 0,
          min: 0,
          max: 100,
          symbol: '%',
          pointer: true,
          gaugeWidthScale: 0.6,
          customSectors: [{
            color: '#ff0000',
            lo: 50,
            hi: 100
          }, {
            color: '#00ff00',
            lo: 0,
            hi: 50
          }],
          counter: true
        });
      });
      console.log("Opening websocket")
      // for WebSocket trigger and echo
      var ws = new WebSocket("ws://localhost:5000/time");
      var target1 = document.getElementById("tempReading");
      var target2 = document.getElementById("humidityReading");
         ws.onopen = function() {
           ws.send("socket open");
         };
         ws.onclose = function(evt) {
           alert("socket closed");
         };
         ws.onmessage = function(evt){
           // console.log(evt.data)
          //  obj = JSON.parse(evt.data);
          //  // console.log(obj.temp)
          //  // console.log(obj.humidity)
          // // var el = document.createElement("div");
          //  //el.innerHTML = evt.data;
          //  target1.innerHTML = obj.temp +" @" + obj.time + '<br>';
          //  target2.innerHTML = obj.humidity +" @" + obj.time + '<br>';
          //  //document.body.insertBefore(el, document.body.childNodes[0]);
          //  g1.refresh(obj.humidity % 100); //displaying fake data for now.
          //
           data = JSON.parse(evt.data);
           // Plotly.extendTraces('sine-graph', {y: [[data.x]]}, [0])
           Plotly.restyle('sine-graph', 'x', [data.x]);
           Plotly.restyle('sine-graph', 'y', [data.y]);
           // console.log(data.y)
         };

        // side nav for mobile device - part of materialize framework.
        $('.sidenav').sidenav();



    </script>
  </body>

</html>
